.btn {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #53fdad;
  cursor: pointer;
  transition: all 0.3s linear;
}
.btn:hover {
  background: #04a158;
}
@media (min-width: 768px) {
  .btn {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
